body {
    background-image: url("bg.jpg");
}

.hello {
    color: white;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: large;
}

.btn {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}