body {
    background-color: black;
}

.ghost {
    height: 400px;
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.boo {
    color: white;
    font-size: 75px;
    position: absolute;
    bottom: 175px;
    left: 50%;
    transform: translate(-50%, 0);
}